aws_region             = "us-east-1"
project_name           = "desarrollo-tt"
environment            = "dev"
vpc_cidr               = "10.0.0.0/16"
eks_node_instance_type = "t3.small"
eks_desired_size       = 2
eks_min_size           = 1
eks_max_size           = 4
rds_instance_class     = "db.t3.small"
rds_allocated_storage  = 20
rds_backup_retention_days = 7
skip_final_snapshot    = true
db_username            = "admin"
db_password            = "ChangeMe!@123"

# GitHub OIDC Configuration for GitHub Actions
github_org             = "your-github-org"
github_repo            = "your-repo-name"
# Domain name for ACM certificate (e.g., example.com for *.example.com and example.com)
domain_name            = "jorgegallardo.studio"
admin_username         = "admin-developer"
