apiVersion: apps/v1
kind: Deployment
metadata:
  name: tgr-api
  namespace: desarrollo-tt
  labels:
    app: tgr-api
    version: v1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tgr-api
  template:
    metadata:
      labels:
        app: tgr-api
    spec:
      imagePullSecrets:
      - name: ecr-secret
      containers:
      - name: tgr-api
        image: 892797891584.dkr.ecr.us-east-1.amazonaws.com/desarrollo-tt/tgr-api:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
          name: http
        env:
        - name: DB_HOST
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: DB_HOST
        - name: DB_PORT
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: DB_PORT
        - name: DB_NAME
          valueFrom:
            configMapKeyRef:
              name: api-config
              key: TGR_DB_NAME
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: DB_USER
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: DB_PASSWORD
        - name: ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: ENVIRONMENT
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /docs
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /docs
            port: 8000
          initialDelaySeconds: 10
          periodSeconds: 5

---
apiVersion: v1
kind: Service
metadata:
  name: tgr-api
  namespace: desarrollo-tt
spec:
  type: ClusterIP
  selector:
    app: tgr-api
  ports:
  - port: 80
    targetPort: 8000
    protocol: TCP
    name: http
